.footer {
    padding: 8rem;
    background: #333;

    &__logo {
        width: 12rem;
    }

    &__list {
        list-style: none;
    }

    &__item {
        display: inline-block;
        transition: all 0.3s;
        @include respone(tab-port) {
            display: block;
            margin: 0 auto;
            margin-bottom: 1rem;
        }
        &:not(:last-child) {
            margin-right: 5rem;
            @include respone(tab-port) {
                margin-right: 0;
            }
        }

        &:nth-child(even):hover {
            transform: rotate(5deg) scale(1.2);
            opacity: 0.9;
        }

        &:nth-child(odd):hover {
            transform: rotate(-5deg) scale(1.2);
            opacity: 0.85;
        }
    }

    &__link {
        &:link,
        &:visited {
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            font-size: $font-size-paragraph;
            font-weight: 300;
            letter-spacing: 0.2rem;
            display: inline-block;
        }
    }
}
