//! АНИМАЦИИ

//? Анимация, передвигающая элемент с лево на право
@keyframes lefttoright {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

//? Анимация, передвигающая элемент с право на лево
@keyframes RightToLeft {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

//? Анимация для поднятия кнопки
@keyframes BtnToUp {
    0% {
        opacity: 0;
        transform: translateY(8rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
